body, table, input, select, textarea {
	font-size: 11px;
	font-family: Verdana, Arial, Sans-Serif;
}
a:hover {
	background-color: yellow;
}
table	{ 
	border-width: 1px; 
        border-style: solid;
        border-color: #808080;
        padding: 3;
        border-collapse: collapse
}
td	{ 
	border-width: 1px; 
        border-style: solid;
        border-color: #808080;
        padding: 3;
        border-collapse: collapse
}

th	{ 
	border-width: 1px; 
        border-style: solid;
        border-color: #808080;
        padding: 3;
        border-collapse: collapse;
        background-color: #E8E8E8;
        text-align: left
}